.bl-background {
    width: 96.5%;
    background: #cdcbcb;
    padding-top: 50px;
    padding-left: 15%;
    height: 50%;
}

.bl-list {
    background: white;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    min-width: 500px;
    float: left;
    border-radius: 2px;
    height: 100%;
    max-width: 800px;
}

.bl-bought {
    background: white;
    width: 70%;
    float: left;
    max-width: 500px;
}


/*Кнопки*/

.bl-label {
    background: #cdcbcb;
    height: 20px;
    width: 300px;
}

.bl-plus {
    background: #04a613;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    margin-top: -5px;
}

.bl-minus {
    background: #f09797;
    border-radius: 60px;
    height: 30px;
    width: 30px;
}

.bl-row {
    width: 100%;
    float: left;
    background: white;
    border: 0.1px solid #cecccc;
    max-width: 800px;
    position: relative;
}

.bl-product {
    width: 100px;
}

.bl-count {
    width: ;
}

div {
    float: left;
}

button {
    border: none;
    color: white;
}

.bl-product {
    margin-left: 5px;
    align-content: center;
    margin-top: 15px;
}

.bt-buy {
    color: black;
    height: 30px;
    width: 90px;
    border-radius: 4px;
}

.bt-del {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background-color: red;
    float: right;
}

.bl-right {
    float: right;
    margin-top: -35px;
    margin-right: 3%;
    background: white;
}

.bt-add {
    background: #1b86d1;
    height: 32px;
    width: 100px;
    border-radius: 2px;
    margin-left: -2%;
}

body {
    background: #cbcbcb;
}

.bl-title {
    border: 0.1px solid #cdcbcb;
    width: 100%;
}

.round {
    background: #cbcbcb;
    border-radius: 4px;
    height: 25px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

.number {
    background: orange;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    color: white;
    float: right;
}


/*-------------------------------------------*/

.banner {
    color: white;
    background-color: #460569;
    position: fixed;
    top: 95%;
    left: 5px;
    border-radius: 10px;
    width: 130px;
    height: 10%;
    transition: all 1s ease;
}

.banner:hover {
    background-color: #1c0569;
    top: 85%;
    height: 20%;
}

@media print {
    .banner {
        border: 3px solid #460569;
        background-color: white;
        color: black;
    }
    .banner:hover {
        background-color: white;
        top: 85%;
        height: 20%;
    }
}

button {
    position: relative;
    /* Относительное позиционирование */
}

button::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 100px;
    height: 25px;
    /* Ширина подсказки */
    left: 0;
    top: 0px;
    z-index: 1;
    /* Положение подсказки */
    border-radius: 16px;
    background: #652296;
    /* Синий цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 0.5em;
    pointer-events: all;
    /* Поля вокруг текста */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
}

button:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    width: 200px;
    height: 50px;
    top: -5em;
    /* Положение подсказки */
}
