.bl-list {
    background: white;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    min-width: 500px;
    float: left;
    border-radius: 2px;
    height: 100%;
    max-width: 800px;
}

.bl-bought {
    background: white;
    width: 80%;
    max-width: 500px;
    height: 45%;
}

.add-field {
    margin-top: 14px;
    border-radius: 4px;
    height: 25px;
    width: 74%;
    max-width: 79%;
    margin-left: 10px;
}


/*Кнопки*/

.bl-label {
    background: #cdcbcb;
    height: 20px;
    width: 300px;
}

.bl-plus {
    background: #04a613;
    border-radius: 60px;
    height: 30px;
    width: 30px;
}

.bl-minus {
    background: #ff0000;
    border-radius: 60px;
    height: 30px;
    width: 30px;
}

.bl-row {
    width: 100%;
    float: left;
    background: white;
    border: 0.1px solid #cecccc;
    position: relative;
    height: 50px;
}

.bl-product {
    width: 100px;
    margin-left: 5px;
}

.bl-count {
    margin-left: 25%;
    margin-right: auto;
    margin-top: 10px;
}

div {
    float: left;
}

button {
    border: none;
    color: white;
}

.bl-product {
    margin-left: 10px;
    align-content: center;
    margin-top: 15px;
}

.bt-buy {
    color: black;
    height: 30px;
    width: 90px;
    border-radius: 4px;
}

.bt-del {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background-color: red;
    float: right;
}

.bl-right {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    background: white;
}

.bt-add {
    background: #1b86d1;
    height: 25px;
    width: 21.5%;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
    margin-top: 14px;
    margin-right: 10px;
}

body {
    background: #cbcbcb;
}

.bl-title1 {
    width: 100%;
    margin-left: 5px;
}

.bl-title2 {
    width: 100%;
    margin-left: 5px;
}

.round {
    background: #cbcbcb;
    border-radius: 4px;
    height: 25px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.number {
    background: orange;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    color: white;
    float: right;
}

.bl-background {

    background: #cdcbcb;
    padding-top: 50px;
    margin-left: 25%;
    display: block;
    height: 50%;
}
/*-------------------------------------------*/

@media (max-width: 1000px){
    .bl-background {
    width: 500px;
}

}
@media (width: 700px){
    .bl-background {
        width: 500px;
    }
}

.banner {
    color: white;
    background-color: #460569;
    position: fixed;
    top: 95%;
    left: 5px;
    border-radius: 10px;
    width: 130px;
    height: 10%;
    transition: all 1s ease;
    visibility: visible;
}

.banner-alt {
    visibility: hidden;
}

.banner:hover {
    background-color: #1c0569;
    top: 85%;
    height: 20%;
}

@media print {
    .banner {
        visibility: hidden;
    }
    .banner-alt {
        visibility: visible;
        border: 3px solid #460569;
        background-color: white;
        color: black;
        content: attr("Koval Oleh");
        position: fixed;
        top: 95%;
        left: 5px;
        border-radius: 10px;
        width: 130px;
        height: 10%;
    }
    .banner:hover {
        background-color: white;
        top: 85%;
        height: 20%;
    }
    .print {
        content: attr(alternative);
    }
}

button {
    position: relative;
    opacity: 0.85;
    /* Относительное позиционирование */
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

div div span {
    content: attr(maint);
}

button::after {
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 30px;
    height: 15px;
    /* Ширина подсказки */
    left: 0;
    top: 0px;
    z-index: 1;
    /* Положение подсказки */
    border-radius: 16px;
    background: #652296;
    /* Синий цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 0.5em;
    pointer-events: all;
    /* Поля вокруг текста */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
}

button:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    width: 100px;
    height: 30px;
    top: -5em;
    /* Положение подсказки */
}


/*---------------------------------------------------------*/

.chGr {
    background-color: black;
}

.becomePink {
    background: #f09797;
    opacity: 1;
    cursor: default;
}

.bought {
    text-decoration: line-through;
}

.destroy {
    display: none;
}

.dissappear {
    visibility: hidden;
}

.straigth {
    margin-bottom: 15px;
}

.bigger{
    width: 100px;
}
