<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootsrap CSS -->
    <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script    type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1O87BG6rznjSZnNZA1sZpclznGGPOnc8"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

    <script src="assets/js/main.js"></script>


</head>

<body>
    <div class="d30">
        <div class="lentach" id="clSt">PIZZA <span>KMA</span></div>
    </div>

    <div class="sticky-top bg-dark menu" style="color: grey;">
        <div style="margin-top: 10px;"> <span class="number">(044) 222 5 222</span> <span class="less">24 години/ 7 днів на тиждень</span> <span class="vis"> Безкоштовна доставка піци </span> </div>
        <div>
            <button class="btn access float-right mr-3"> Ввійти </button>
        </div>
        <div class="bg-light col-10 line"></div>
        <div style="margin-top: 10px;"><span class="pizzaText"> Піца </span></div>
    </div>
