<% include common/header.ejs %>
    <div class="row" style="display:none;" id="choose">
        <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0"></div>
        <div class="col-lg-8 col-md-10 col-sm-11 col-xs-12">
            <ul>
                <button class="btn myactive" id="All"> Усі</button>
                <button class="btn" id="Meat"> М'ясні </button>
                <button class="btn" id="Pineapples"> З ананасами </button>
                <button class="btn" id="Mushrooms"> З грибами </button>
                <button class="btn" id="Sea"> З морепродуктами </button>
                <button class="btn" id="Vegetarian"> Вега </button>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="raw">
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                <h4>1. Контактні дані </h4> Ім'я
                <input class="form-control" id="name" type="text" pattern="[А-Я]{1}[а-я]{1,14} [А-Я]{1}[а-я]{1,14}" placeholder="Ім'я і прізвище"> Телефон
                <input class="form-control" id="number" type="text" pattern="(\+380[0-9]{9}|0[0-9]{9})" placeholder="+380987334905"> Адреса
                <input class="form-control" id="adress" type="text" pattern="([а-яіїєю]{1,14}|[а-яіїєю]{1,5}.) [А-ЯІЇЄЮ]{1}[а-яіїєю]{1,14}, \d\d?\d?\w?, [А-ЯІЇЄЮ]{1}[а-яіїєю]{1,14}(, [А-ЯІЇЄЮ]{1}[а-яіїєю]{1,14})?(, [0-9]{5})?" placeholder="вулиця Шевченка, 10, Киев, Украина, 08500">
                <div class="info">
                    <br>
                    <div class="bord">
                        <h5>Інформація про замовлення</h5>
                        <br> Приблизний час доставки: <span id="timeOrd"> невідомий </span>
                        <br> Адреса доставки: <span id="adOrder">невідома</span> </div>
                    <button class="mt-1 btn btn-lg btn-warning rounded-border float-right" style="margin-left: 10%; background-color: orange; color: white;" id="sendIn">Далі ></button>

<div    id="liqpay"></div>

                </div>
            </div>
        </div>
        <div id="googleMap" style="width:100%; height:200px;"></div>
    </div>


































    <div class="cart stinky-top shadow1" id="korb">
        <div style="height:100px;">
            <br>
            <div class="h3 float-left ml-2 font-weight-bold mt-2" style="font-size: 26px;">Замовлення</div>
            <div class="rounded-circle text-center float-left font-weight-bold" id="zamov">0</div> <a src="" class="small mr-3 mt-3" id="clear" style="display:none; color: gray; float: right;">Очистити замовлення</a></div>
        <div class="order" id="cart"> </div>
        <div style="height: 100px; bottom: 0px;">
            <div style="margin-right: 60px;">
                <div class="font-weight-bold float-right" style="width: 120px; margin-left: -80px; margin-top:     -10px;    font-size: 28px;">грн.</div>
                <div class="font-weight-bold float-right" id="sum">0</div>
            </div>
            <div class="font-weight-bold mt-1 ml-1" style="width:150px;">Сума замовлення</div>
            <br> <a class="mt-1 btn btn-lg btn-warning rounded-border" style="margin-left: 10%; background-color: white; width: 300px; color: black;" href='/#'>Редагувати замовлення</a> </div>
    </div>
    <% include common/footer.ejs %>
